.container {
  max-width: 400px;
  margin: 6rem auto;
  background-color: #ede9fe; /* soft lavender card */
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 20px rgba(128, 90, 213, 0.2);
}

.form-group {
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #5b21b6; /* medium purple */
}

p {
  text-align: center;
  margin-top: 1rem;
  color: #5b21b6;
}
